<div class="container">
      <ul class="list-group" *ngFor="let tweet of tweets">
            <li class="list-group-item" [ngClass]="{disabled: tweet.retweets.length==0}">
                  <div class="row">
                        <div class="col-sm-10"><img width="50" height="50" src='{{tweet.avatar}}' /> {{tweet.body}}</div>
                        <div class="col-sm-1">
                              <div  *ngIf="tweet.retweets.length>0">
                             <button type="button" class="btn btn-outline-secondary" (click)="myRetweets(tweet.retweets)" >{{tweet.retweets.length}}</button>
                             </div>
                                                        
                        </div>
                        <div class="col-sm-1">
                              <div *ngIf="tweet.favorites.length>0">
                             <button type="button" class="btn btn-outline-success" (click)="myFavs(tweet.favorites)" >{{tweet.favorites.length}}</button>
                              </div>
                                  
                             
                        </div>
                  </div>




            </li>
      </ul>
      <i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"> </i>
</div>
<!-- /.container -->